@import '../../assets/scss/colors';

.home {
  height: 100vh;
  width: 100vw;

  .title-result {
    font-size: 20px;
    text-align: center;
  }
}

.loader {
  left: 50%;
  position: absolute;
  top: 50%;
}

.search_content {
  align-items: center;
  border: 1px solid $green-color-whitout-opacity;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1.5em 1em;
  padding: .5em .5em .5em 1em;

  .button,
  .input {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }

  .button {
    cursor: pointer;
    padding: 0 .25em;
  }

  .input {
    flex: 1;

    &::placeholder {
      color: $white-color-with-opacity-50;
    }
  }
}
